/* Use the following color pallete: https://palettes.shecodes.io/palettes/545 */

h1{
    color: #004445;
    text-decoration: underline;
}

.instructions{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: #2c786c;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 450px;
    height: 300px;
}

.credits{
    font-style: italic;
    font-size: 12px;
}

.button{
    background-color: #f8b400; 
    border: none;
    color: #2c786c;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #004445;
  }